.doors {
	justify-content: center;
	align-items: center;
	min-height: 210px;
}

.door {
	align-items: center;
	padding: 10px;
}

.door-img {
	height: 120px;
	width: 120px;
	margin-bottom: 10px;
}

.tile .doors {
	min-height: 120px;
}

.tile .door-img {
	height: 60px;
	width: 60px;
}

.tile #door-name {
	font-size: x-small;
}
