.model-garage .doors {
	justify-content: center;
	align-items: center;
	min-height: 210px;
}

.model-garage .door {
	align-items: center;
	padding: 10px;
}

.model-garage .door-img {
	height: 120px;
	width: 120px;
	margin-bottom: 10px;
}

.model-garage .tile .doors {
	min-height: 120px;
}

.model-garage .tile .door-img {
	height: 60px;
	width: 60px;
}

.model-garage .tile #door-name {
	font-size: x-small;
}
