<hr>
<div class="divFlexRow">
	<div class="divFlexCol">
		<span>Door Name</span>
		<input class="doorName" type="text" placeholder="Name" name="door">
	</div>
	<div class="divFlexCol">
		<span>Relay</span>
		<select class="gpio" name="relay"></select>
	</div>
</div>

<script src="js/deployTargetGpios.js"></script>
<script src="js/download-gpio.js"></script>
<script src="js/download-device.js"></script>
