		<div class="panel divFlexRow doors">
			<div class="divFlexCol door-unused" id="door0">
				<img class="door-img" id="door0-img" src="images/door-unused.png" disabled>
				<span class="door-name-unused" id="door0-name"></span>
			</div>
			<div class="divFlexCol door-unused" id="door1">
				<img class="door-img" id="door1-img" src="images/door-unused.png" disabled>
				<span class="door-name-unused" id="door1-name"></span>
			</div>
		</div>
