		<div class="panel divFlexRow doors">
			<div class="divFlexCol hidden pointer door" id="door">
				<img class="door-img" id="door-img">
				<span id="door-name"></span>
			</div>
			<div class="divFlexRow hidden" id="nodef">
				<span>Click</span>
				<a href="download-dialog"><img class="icon" src="images/download-icon.png"></a>
				<span>to set up Garage Door</span>
			</div>
		</div>
